<nav>
    <ul id="menu">
        <li>Admin Menu:</li>
        <li>@Html.ActionLink("Albums", "Index", "StoreManager")</li>
        <li>@Html.ActionLink("Artists", "Index", "Artist")</li>
        <li>@Html.ActionLink("Genres", "Index", "Genre")</li>
    </ul>
</nav>